html
{
    overflow: hidden;
}

body {
  background: #000;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0px;
  box-sizing: border-box;
  background-color: #333333
}

html, body
{
    height: 100%;
}

h1 {
    color: #f8f8f2;
}

h2 {
    color: #f8f8f2;
}

a:link {
  color: #bcc2cd;
}

a:visited {
  color: #ff5555;
}

a:hover {
  color: #8be9fd;
}

div.ex2 {
  max-width: 90%;
  left: 5%;
  right: 5%;
}

th, td {
  border-bottom: 2px solid #ddd;
  padding: 10px;
}
