body {
  /* background: #000000; */
  background: #000;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  /* font-family: sans-serif; */
  /* color: #f8f8f2; */
  margin-left: 2%;
  max-width: 80%;
  /* background-color: #3c4556 */
  /* background-color: #000000 */
  background-color: #333333
}

h1 {
    color: #f8f8f2;
    /* text-align: center; */
}

h2 {
    color: #f8f8f2;
}

#topRight
{
    position: fixed;
    top: 10%;
    right: 1%;
    width: 20%;
    /* -- min-width: 170px; */
    padding: 3px 3px 3px 3px;
    /* border-color: #282a36; */
    /* background: #44475a; */
    /* mix-blend-mode: multiply; */
    background-color: #333333
    text-align: center; /* nuevo */
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/*.navbar {
  background-color: #282a36;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #8be9fd;
}*/

 /* unvisited link */
a:link {
  color: #bcc2cd;
}

/* visited link */
a:visited {
  color: #ff5555;
}

/* mouse over link */
a:hover {
  color: #8be9fd;
}

/* parrafo */

div.ex2 {
  max-width: 90%;
  left: 5%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
